body {
  background: #f5f5f5;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

i.fa {
  font-size: 16px;
}

p {
  font-size: 16px;
  line-height: 1.428571429;
}

.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background: lightblue;
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: #fff;
  .logo {
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  #menu-toggle {
    display: block;
    float: left;
    width: 60px;
    height: 50px;
    line-height: 50px;
    margin-right: 15px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    background: rgba(0, 0, 0, 0.15);
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all .2s ease-in-out;
    i {
      display: inline-block;
      margin: 0 5px;
    }
    span {
      width: 0px;
      display: none;
      overflow: hidden;
      transition: all .2s ease-in-out;
    }
    &:hover {
      background: rgba(0, 0, 0, 0.25);
    }
    &.active {
      width: 250px;
      transition: all .2s ease-in-out;
      span {
        display: inline;
        width: auto;
        transition: all .2s ease-in-out;
      }
    }
  }
}

.sidebar {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 50px;
  height: 100%;
  width: 60px;
  background: #fff;
  border-right: 1px solid #ddd;
  text-align: center;
  transition: all .2s ease-in-out;
  &.active, &.hovered {
    width: 250px;
    transition: all .2s ease-in-out;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      display: block;
      a {
        display: block;
        position: relative;
        white-space: nowrap;
        overflow: hidden;
        border-bottom: 1px solid #ddd;
        color: #444;
        text-align: left;
        i {
          display: inline-block;
          width: 60px;
          height: 60px;
          line-height: 60px;
          text-align: center;
          animation-duration: .7s;
          animation-fill-mode: both;
        }
        span {
          display: inline-block;
          height: 60px;
          line-height: 60px;
        }
        &:hover {
          background-color: #eee;
          i {
            opacity: .9;
          }
        }
      }
    }
  }
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 50px;
  left: 0;
  height: 94vh;
  padding: 15px;
  padding-left: 75px;
  transition: all .2s ease-in-out;
  &.active {
    padding-left: 275px;
    transition: all .2s ease-in-out;
  }
  .jumbotron {
    background-color: #fff;
    padding: 30px !important;
    border: 1px solid #dfe8f1;
    border-radius: 3px;
    h1 {
      font-size: 24px;
      margin: 0;
      padding: 0;
      margin-bottom: 12px;
    }
  }
  .footer{
    align-self: flex-end;
    background:#fff;
    padding: 10px;
    p{
      color: #bbb;
    }
  }
}