$color_main: #1b83c2;
$grad_main: linear-gradient(135deg, #6078ea 0%, #17ead9 100%);
@mixin grad_main {
  background: linear-gradient(135deg, #6078ea 0%, #17ead9 100%);
}
$color_green: #479c3d;
$color_orange: #fb9f0c;
$bd_green: rgba(91, 128, 99, 0.2);
$color_gray: #3b454a;
@mixin cl_green {
  color: $color_green;
}
@mixin cl_orange {
  color: $color_orange;
}
@mixin cl_gray {
  color: $color_gray;
}
@mixin bg_green {
  border: 1px solid $bd_green;
}

.cl_green {
  @include cl_green
}

.cl_orange {
  @include cl_orange
}

.cl_gray {
  @include cl_gray
}

.m_colorLine {
  // background-color: rgba(248, 243, 91, 0.23) !important;
  padding: 0.1em 0.5em;
  background: linear-gradient(transparent 45%, rgba(250, 255, 0, 0.65) 80%);
}

body {
  margin: 0;
  padding: 0;
  // background: linear-gradient(135deg, rgba(30, 118, 228, 0.26) 0%,rgba(18, 201, 193, 0.38) 100%);
  background: linear-gradient(135deg, rgba(123, 133, 255, 0.26) 0%, rgba(115, 142, 141, 0.38) 100%);
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 1rem;
  color: #334;
  min-height: 100vh;
}

.tx_udl {
  text-decoration: underline;
}

ol,
ul {
  list-style: none;
}

i.fa {
  font-size: 16px;
}

p {
  font-size: 16px;
  line-height: 1.428571429;
}

.m_hr {
  border-top: 1px solid rgba(190, 191, 187, 0.18);
  width: 100%;
  margin-bottom: 1rem;
}

.lay_Outer {
  padding: 16px 32px;
  // background: #fbffef;
  // @include bg_green;
  background: #fafbf8;
  border: 2px solid rgba(255, 193, 18, 0.93);
  border-radius: 6px;
}

form.lay_form {
  background: rgba(255, 255, 255, 0.88);
  padding-bottom: 32px;
  font-size: 1.15em;
  border-radius: 6px;
  // @include bg_green;
  border: 2px solid;
  border-color: rgba(0, 0, 0, 0.1);
}

.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  color: #fff;
  // background: $color_main;
  background: #42586d;
  @include grad_main;
  line-height: 50px;

  .logo a {
    color: rgba(255,255,255,.85);
    text-decoration: none;
    font-size: 1.4em;
    letter-spacing: 1px;
  }
}

.logo {
  line-height: 3em;
}

#menu-toggle {
  display: block;
  float: left;
  width: 60px;
  height: 50px;
  margin-right: 15px;
  transition: all 0.2s ease-in-out;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  background: rgba(0, 0, 0, 0.15);
  @include grad_main;
  font-size: 13px;
  line-height: 50px;

  i {
    display: inline-block;
    margin: 0 5px;
  }

  span {
    display: none;
    overflow: hidden;
    width: 0;
    transition: all 0.2s ease-in-out;
  }

  &:hover {
    background: rgba(0, 0, 0, 0.25);
  }

  &.active {
    width: 250px;
    transition: all 0.2s ease-in-out;

    span {
      display: inline;
      width: auto;
      transition: all 0.2s ease-in-out;
    }
  }
}
@media (min-width: 576px) {
  .jumbotron {
    padding: 2rem;
  }
}

.l_info {
  z-index: 1;
  display: block;
  float: left;
  width: 100%;
  margin-left: 60px;
  color: #666;
  background: rgba(255, 255, 249, 0.53);
  padding-left: 15px;
  transition: all 0.2s ease-in-out;

  .m_title {
    display: inline-flex;
    align-items: center;
    font-size: 1em;
    line-height: 1;

    ul {
      display: inline-flex;
      justify-content: center;
      align-items: center;

      li+li {
        margin-left: 5px;
        line-height: 1;

        &:last-child {
          color: #444;
        }

        &:before {
          display: inline-block;
          // position: absolute;
          // left: 2px;
          padding: 0 5px 0 2px;
          content: ">";
          color: #bbb;
        }
      }
    }
  }

  &.active {
    margin-left: 250px;
  }
}

.sidebar {
  position: fixed;
  z-index: 10;
  top: 50px;
  left: 0;
  width: 60px;
  height: 100%;
  transition: all 0.2s ease-in-out;
  text-align: center;
  border-right: 1px solid #ddd;
  background: #fff;

  &.active,
  &.hovered {
    width: 250px;
    transition: all 0.2s ease-in-out;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      display: block;

      a {
        position: relative;
        display: block;
        overflow: hidden;
        text-align: left;
        white-space: nowrap;
        color: #444;
        border-bottom: 1px solid #ddd;

        i {
          display: inline-block;
          width: 60px;
          height: 60px;
          animation-duration: 0.7s;
          text-align: center;
          line-height: 60px;
          animation-fill-mode: both;
        }

        span {
          display: inline-block;
          height: 60px;
          line-height: 60px;
        }

        &:hover {
          background-color: #eee;

          i {
            opacity: 0.9;
          }
        }
      }
    }
  }
}

.main {
  position: relative;
  // top: 110px;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // height: 94vh;
  padding: 110px 15px 15px 75px;
  transition: all 0.2s ease-in-out;
  // min-height: 100vh;
  &.active {
    padding-left: 275px;
    transition: all 0.2s ease-in-out;
  }

  .jumbotron {
    // padding: 20px 30px 20px!important !important;
    // border: 1px solid #dfe8f1;
    border-radius: 3px;
    // background-color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0);

    h1 {
      margin: 0 0 12px;
      padding: 0;
      font-size: 24px;
    }
  }

  .footer {
    align-self: flex-end;
    padding: 10px;
    background: #fff;

    p {
      color: #bbb;
    }
  }
}
// title global

.m_title {
  font-weight: 400;

  &.lv3 {
    font-size: 1.5em;
  }

  &.lv4 {
    font-size: 1.25rem;
  }

  &.lv5 {
    font-size: 1.125rem;
  }
}

ul.list {
  display: flex;
  white-space: nowrap;

  li+li {
    margin-left: 15px;

    &:before {
      display: inline-block;
      // position: absolute;
      // left: 2px;
      padding-right: 25px;
      content: "|";
      color: #999;
    }
  }
}

table.inline-table {
  display: inline-table;
  background: #fff;

  td,
  th {
    transition: 0.2s;
    vertical-align: middle;
    text-align: center;

    &:hover {
      cursor: pointer;
      // background-color: rgba(0,0,0,.01);
      // color: #444;
      // opacity: 0.85;
    }
  }
}

table {
  &.table-hover {
    tr:hover {
      cursor: pointer;
    }
  }

  svg {
    transition: 0.2s;

    &:hover {
      cursor: pointer;
      fill: darkorange;
    }
  }

  .embryuoImages {
    img {
      width: 100%;
      max-width: 120px;
      transition: 0.3s;

      &:hover {
        cursor: pointer;
        transform: scale(2,2);
      }
    }
  }
}

.table-striped.cl_ye tbody tr:nth-of-type(odd) {
  background-color: rgba(240, 255, 41, 0.4);
}

.formSection {
  margin: 0 1rem 1rem 0;

  .custom-select {
    display: inline-block;
    width: 100%;
    max-width: 200px;
    height: auto;
    padding: 0.375rem 1.5rem 0.35rem 0.5rem;
    /* padding: 0.375rem 1.75rem 0.375rem 0.75rem; */
    &:focus {
      background-color: rgb(239, 252, 254);
      outline: none;
    }
  }
}

.btn-primary,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  color: #fff;
  background-color: $color_main!important;
  border-color: $color_main;
}

.bg-warning {
  background-color: #fb9900!important;
}

.bg-success {
  background-color: $color_green!important;
}

.bg-success {
  background-color: #41a759!important;
}

.btn-outline-warning:hover {
  color: #ffc107;
  background-color: #fff;
  border-color: #ffc107;
}

.btn-outline-success:hover {
  color: #50a546;
  background-color: #fff;
  border-color: #50a546;
}

.btn-outline-info:hover {
  color: #23A2B8;
  background-color: #fff;
  border-color: #23A2B8;
}

button.adaptation {
  &.active {
    background-color: #23A2B8;
    color: #fff;
  }
}

.text-success {
  color: #479c3d!important;
}
@import "form";

.grid-container {
  display: grid;
  grid-template-columns: 85px 1fr 1fr 1fr;
  grid-template-rows: 4em 1fr 1fr;
  // grid-template-areas: "areaA" "areaB" "areaC";
  max-width: 480px;
  grid-gap: 12px;

  .m_form {
    // text-align: center;s
    // margin: 0 0 0 1.2em;
    white-space: nowrap;
  }
}
@media all and (-ms-high-contrast:none) {
  .lt-grid-container {
    display: -ms-grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
  }
}

.m_title {
  &-featuer {
    background: linear-gradient(135deg, #036ED9 0%,#12aec9 100%);
    padding: 8px 12px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    max-width: 1140px;
    margin: auto auto 24px;
  }

  &-tx {
    color: #eee;
    font-size: 20px;
  }
}
/* --------------------- */
.lay_progress {
  #progress,
  .progress_inTable {
    display: flex;
    justify-content: center;
    max-width: 1140px;
    margin: auto;
    width: auto;

    li {
      // float: left
      padding: 10px 20px;
      background: #e3e3e9;
      color: #444;
      position: relative;
      // border-top: 1px solid #ccc;
      // border-bottom: 1px solid #ccc;
      width: calc(100% / 4 - 24px);
      margin: 0 auto;

      &:after {
        content: '';
        border-left: 22px solid #e3e3e9;
        border-top: 22px solid transparent;
        border-bottom: 22px solid transparent;
        position: absolute;
        top: 0;
        left: 100%;
        z-index: 2;
      }

      &.active {
        color: #fff;
        background: #036ED9;
        padding: 3px 0 0 4px;
        font-size: 12px;
        height: 24px;
        @media only screen and (max-width: 960px) {
          font-size: 0;
          padding: 0;
          height: auto;
        }

        &:after {
          border-left-color: #036ED9;
        }
      }

      &:first-child:before {
        border: none;
      };
    }
  }

  .progress_inTable {
    z-index: 1;

    li {
      padding: 12px 2px;
      background: #e3e3e9;
      color: #444;
      position: relative;
      width: calc(100% / 4 - 12px);
      margin: 8% auto 5% 0;
      // margin-top: 20%;
      &:after {
        content: '';
        border-left: 12px solid #e3e3e9;
        border-top: 12px solid transparent;
        border-bottom: 12px solid transparent;
        position: absolute;
        top: 0;
        left: 100%;
        z-index: 2;
      }

      &.active {
        color: #fff;
        background: #036ED9;

        &:after {
          border-left-color: #036ED9;
        }
      }

      &:first-child:before {
        border: none;
      }
    }
  }

  .tex {
    &-attention {
      font-size: 1rem;
    }
  }
}

table.dataTable.table-sm > thead > tr > th {
  padding-right: 20px;
  background: #4d8a5d;
  color: white;
}
// .modal.show .modal-dialog {
//   -webkit-transform: translate(0,-25%);
//   transform: translate(0,-25%);
// }
/* ---- Modal ----------------------------------- */
.ModalArea,
.ModalArea2 {
  opacity: 1;

  .modalTrg {
    padding: 12px;
    margin: -15px -0.1em;
    line-height: 1;
    transition: 0.2s;
    border: 2px solid transparent;

    &:hover {
      background: rgba(223, 131, 36, 0.3);
      border: 2px solid orange;
    }
  }

  .buttonArea {
    display: flex;
    align-items: flex-end;
    // justify-content;
    margin: auto;

    .close {
      opacity: 1;
      cursor: pointer;
      width: 200px;
      border: 1px solid #ccc;
      border-radius: 4px;
      text-align: center;
      padding: 13px;
      margin: 16px auto 0;
      background: #aaa;
      color: white;
      margin-right: 60px;
      font-weight: 300;
      font-size: 1.25em;
      text-shadow: none;
    }

    .next a {
      display: block;
      background: #4caf50;
      color: white;
      width: 200px;
      border: 1px solid #ccc;
      border-radius: 4px;
      text-align: center;
      padding: 7px;
      // height: 50px;
      margin: 0;
      transition: 0.2s;
      font-weight: 300;
      font-size: 1.25em;

      &:hover {
        cursor: pointer;
        opacity: 0.8;
        text-decoration: none;
        background-color: darkorange;
      }
    }
  }

  .open {
    opacity: 1;
    // cursor: pointer;
    color: #007bff;
  }

  .mask {
    background: rgba(0, 0, 0, 0.75);
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
  }

  .modaling {
    display: flex;
    flex-direction: column;
    opacity: 0.9;
    cursor: auto;
    background: #fff;
    color: #555;
    width: 70vw;
    padding: 40px;
    border-radius: 4px;
    position: fixed;
    top: 30%;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1000;
    transition: 0.3s;
    border: 4px solid teal;
    // box-shadow: 20px 20px 20px rgba(65, 128, 73, 0.2);
    border-radius: 12px;

    &:hover {
      background: #eee;
    }

    p {
      // margin: 0 0 20px;
      // color: darkblue;
      font-size: 1.25em;
    }

    &.hidden {
      transform: translate(0, -100vh);
    }
  }

  .mask.hidden {
    display: none;
  }
}
/* ---- DataTable ----------------------------------- */
div#example_filter {
  justify-content: flex-end;
  display: flex;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
  justify-content: flex-end;
  margin-top: 0.5em;
}

button.btn.adaptation {
  border: 1px solid #abe;
  background: rgba(#e6f3f5, 0.4);
}
