body {
  margin: 0;
  padding: 0;
  background: #f5f5f5;
  font-family: 'Lato', sans-serif; }

i.fa {
  font-size: 16px; }

p {
  font-size: 16px;
  line-height: 1.428571429; }

.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  color: #fff;
  background: #42586d;
  line-height: 50px; }
  .header .logo a {
    color: rgba(255, 255, 255, 0.85);
    text-decoration: none;
    font-size: 1.4em;
    letter-spacing: 1px; }

.logo {
  line-height: 3em; }

#menu-toggle {
  display: block;
  float: left;
  width: 60px;
  height: 50px;
  margin-right: 15px;
  transition: all 0.2s ease-in-out;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  background: rgba(0, 0, 0, 0.15);
  font-size: 13px;
  line-height: 50px; }
  #menu-toggle i {
    display: inline-block;
    margin: 0 5px; }
  #menu-toggle span {
    display: none;
    overflow: hidden;
    width: 0;
    transition: all 0.2s ease-in-out; }
  #menu-toggle:hover {
    background: rgba(0, 0, 0, 0.25); }
  #menu-toggle.active {
    width: 250px;
    transition: all 0.2s ease-in-out; }
    #menu-toggle.active span {
      display: inline;
      width: auto;
      transition: all 0.2s ease-in-out; }

@media (min-width: 576px) {
  .jumbotron {
    padding: 2rem; } }
.l_info {
  z-index: 1;
  display: block;
  float: left;
  width: 100%;
  margin-left: 60px;
  color: #666;
  background: #e0e0e0;
  padding-left: 15px;
  transition: all 0.2s ease-in-out; }
  .l_info .m_title {
    display: inline-flex;
    align-items: center;
    font-size: 0.9em;
    line-height: 1.2; }
    .l_info .m_title ul {
      display: inline-flex;
      justify-content: center;
      align-items: center; }
      .l_info .m_title ul li + li {
        margin-left: 5px;
        line-height: 1; }
        .l_info .m_title ul li + li:last-child {
          color: darkgray; }
        .l_info .m_title ul li + li:before {
          display: inline-block;
          padding: 0 5px 0 2px;
          content: ">";
          color: #bbb; }
  .l_info.active {
    margin-left: 250px; }

.sidebar {
  position: fixed;
  z-index: 10;
  top: 50px;
  left: 0;
  width: 60px;
  height: 100%;
  transition: all 0.2s ease-in-out;
  text-align: center;
  border-right: 1px solid #ddd;
  background: #fff; }
  .sidebar.active, .sidebar.hovered {
    width: 250px;
    transition: all 0.2s ease-in-out; }
  .sidebar ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }
    .sidebar ul li {
      display: block; }
      .sidebar ul li a {
        position: relative;
        display: block;
        overflow: hidden;
        text-align: left;
        white-space: nowrap;
        color: #444;
        border-bottom: 1px solid #ddd; }
        .sidebar ul li a i {
          display: inline-block;
          width: 60px;
          height: 60px;
          animation-duration: 0.7s;
          text-align: center;
          line-height: 60px;
          animation-fill-mode: both; }
        .sidebar ul li a span {
          display: inline-block;
          height: 60px;
          line-height: 60px; }
        .sidebar ul li a:hover {
          background-color: #eee; }
          .sidebar ul li a:hover i {
            opacity: 0.9; }

.main {
  position: relative;
  top: 100px;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 94vh;
  padding: 15px 15px 15px 75px;
  transition: all 0.2s ease-in-out; }
  .main.active {
    padding-left: 275px;
    transition: all 0.2s ease-in-out; }
  .main .jumbotron {
    padding: 20px 30px 20px !important !important;
    border: 1px solid #dfe8f1;
    border-radius: 3px;
    background-color: #fff; }
    .main .jumbotron h1 {
      margin: 0 0 12px;
      padding: 0;
      font-size: 24px;
      max-width: 350px; }
  .main .footer {
    align-self: flex-end;
    padding: 10px;
    background: #fff; }
    .main .footer p {
      color: #bbb; }

.m_title.lv3 {
  font-size: 1.4rem; }

ul.list {
  display: flex;
  white-space: nowrap; }
  ul.list li + li {
    margin-left: 15px; }
    ul.list li + li:before {
      display: inline-block;
      padding-right: 25px;
      content: "|";
      color: #999; }

table.inline-table {
  display: inline-table;
  background: #fff; }
  table.inline-table td,
  table.inline-table th {
    transition: 0.2s; }
    table.inline-table td:hover,
    table.inline-table th:hover {
      cursor: pointer;
      opacity: 0.85; }

.formSection {
  margin: 0 1rem 1rem 0; }
  .formSection .custom-select {
    display: inline-block;
    width: 100%;
    height: auto;
    padding: 0.375rem 1.5rem 0.35rem 0.5rem;
    /* padding: 0.375rem 1.75rem 0.375rem 0.75rem; */ }
    .formSection .custom-select:focus {
      background-color: #effcfe;
      outline: none; }

.btn-primary,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  color: #fff;
  background-color: #1b83c2 !important;
  border-color: #1b83c2; }

.bg-warning {
  background-color: #fb9900 !important; }

.bg-success {
  background-color: #41a759 !important; }

.btn-outline-warning,
.btn-outline-warning:hover {
  color: #fb9900;
  background-color: #fff;
  border-color: #fb9900; }

.btn-outline-info:hover {
  color: #23A2B8;
  background-color: #fff;
  border-color: #23A2B8; }

button.adaptation {
  width: 74px;
  border: 1px solid #23A2B8; }
  button.adaptation.active {
    background-color: #23A2B8;
    color: #fff; }

.border_section {
  border: 1px solid rgba(187, 187, 187, 0.4);
  background-color: rgba(255, 255, 255, 0.7);
  padding: 8px 32px 32px 40px;
  border-radius: 8px; }

div.dataTables_wrapper div.dataTables_paginate {
  margin: 10px 0 0;
  white-space: nowrap;
  text-align: right; }

.page-link {
  color: #23A2B8; }

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #23A2B8;
  border-color: #23A2B8; }

div.dataTables_wrapper div.dataTables_filter input {
  margin-left: 0.5em;
  display: inline-block;
  width: auto;
  min-width: 300px; }

/*# sourceMappingURL=style.css.map */
