include pug/_meta
include pug/_head
body
  #head
  .main  
    .hipsum
      .jumbotrons
        h1.m_title.lv3 トップページ
        .l_user-info.mt-4
        ul.d-flex.align-items-center
          li
            a(href="search.html")
              button.btn.btn-outline-warning(type="button")
                svg(fill="#fb9900" width="30pt" height="30pt" version="1.1" viewbox="0 0 100 100" xmlns="http://www.w3.org/2000/svg")
                  include pug/icon/_patient
                span.ml-2 患者ID情報・ドナー検索
          li.ml-3(style="background: #fff;")
            a(href="result.html")
              button.btn.btn-outline-info(type="button")
                svg(fill="#23A2B8" width="30pt" height="30pt" version="1.1" viewbox="0 0 100 100" xmlns="http://www.w3.org/2000/svg")
                  include pug/icon/_donar
                span.ml-2 検索結果・ドナー情報 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  
  script(src="js/script.js")
  
  
