include pug/_meta
include pug/_head
body
  #head
  // Content
  .main
    .hipsum
      .jumbotron(style="background:rgba(210, 250, 251, 0.15); ma")
        .titleAreas(style="max-width: 1360px;")
          h1.m_title.lv3.p-2.mb-4.bg-info.text-white        
            img(src="img/donor.svg", alt="alt")
            span.ml-2 ドナー情報(K指標順)
        .l_patient-area
          .l_user-info.pt-2
            h3.text-left(style="max-width: 1140px; margin-left: calc((1366px - 1140px) / 2 - 40px);")
              img(src="img/patient_og.svg", class="mb-2", alt="alt", style="border: 1px solid orange; padding: 0px 3px; background:rgba(255,255,255,0.7); ")
              span.ml-2 患者情報
            table.display.table.inline-table.table-responsive-lg.table-sm.table-bordered(id="" style="max-width: 1140px; margin: 0 auto; background:rgba(255,255,2555,0.8)")
              thead.thead-dark
                tr
                  th 患者ID
                  th 性別
                  th 年齢
                  th 血液型
                  th 病状（大分類）
                  th 病状（小分類）
                  th 病期
              tbody
                tr
                  td P0000321
                  td 男
                  td 28
                  td A+
                  td Other lymphoma
                  td(style="max-width:200px;") びまん性大細胞型B細胞性リンパ球
                  td(style="max-width:200px;") 2CR


            table.display.table.inline-table.table-responsive-lg.table-sm.table-bordered(id="" style="max-width: 1140px; margin: 0 auto 20px;  background:rgba(255,255,2555,0.8)")
              thead.thead-dark
                tr
                  th(colspan="18" style="vertical-align: middle")
                    | HLA
              tbody
                tr
                  th(colspan="2")
                    b HLA
                  td(colspan="4")
                    center A
                  td(colspan="4")
                    center B
                  td(colspan="4")
                    center C
                  td(colspan="4")
                    center D
                tr
                  th(style="width:50px; " colspan="2")
                    b 検索用抗原
                  th(style="width:65px; " colspan="2") DNA型
                  th(style="width:50px; " colspan="2") 検索用抗原
                  th(style="width:65px; " colspan="2") DNA型
                  th(style="width:50px; " colspan="2") 検索用抗原
                  th(style="width:65px; " colspan="2") DNA型
                  th(style="width:50px; " colspan="2") 検索用抗原
                  th(style="width:65px; " colspan="2") DNA型
                tr
                  th(colspan="2")
                    b DNA型
                  td A24
                  td A2
                  td 24:02
                  td 33:03
                  td B54
                  td       
                  td 52:01
                  td 44:03
                  td Cw4
                  td Cw12
                  td 04:01
                  td 12:02
                  td DR4
                  td DR15
                  td 13:02
                  td 15:02

        .l_user-info
          table.ptn_dnr#example
            tbody
              tr
                th No
                th HLAマッチ
                th(colspan="2") ミスマッチ
                th(colspan="2") A
                th(colspan="2") B
                th(colspan="2") C
                th(colspan="2") DR
                th GRFS
                th 再発
                th GVHD
                th 遊郭細胞数
                th CD34+細胞数
                th GMコロニー数
                th
                  | 整理番号
                  | 施設
                th
              tr.subTH
                th
                th
                th GVH
                th HVG
                th(colspan="8") 上段：抗原  / 下段：アリル
                th days
                th
                th
                th
                th
                th
                th
                th
              tr(class="tb_bd-t")
                td 1
                td 8
                td 1
                td 1
                td A24
                td A2
                td B54
                td
                td Cw4
                td Cw12
                td DR4
                td DR15
                td 330
                td 23%
                td 24%
                td 3.54
                td 0.56
                td 21.2
                td M201108999
                td(rowspan="2", style="vertical-align:middle")
                  button(type="button", class="btn adaptation", name="button") 適用
                  
              tr
                td
                td
                td
                td
                td 24:02
                td 33:03
                td 52:01
                td 44:03
                td 04:01
                td 12:05
                td 13:02
                td 15:02
                td
                td
                td
                td
                td
                td
                td KNKI
                //td

              tr(class="tb_bd-t")
                td 2
                td 7
                td 2
                td 1
                td A24
                td A2
                td.bg-danger.text-white.font-weight-bold B51
                td
                td Cw4
                td Cw12
                td DR4
                td DR15
                td 243
                td 44%
                td 20%
                td 3.54
                td 0.56
                td 21.2
                td G201208999
                td.text-info(rowspan="2", style="vertical-align:middle")
                  button(type="button", class="btn btn-secondary", name="button", disable="disable") 検討中

              tr
                td
                td
                td
                td
                td 24:02
                td 33:03
                td.text-danger.font-weight-bold 51:01
                td 44:03
                td 04:01
                td 12:02
                td 13:02
                td 15:02
                td
                td
                td
                td
                td
                td
                td MIYG

              tr(class="tb_bd-t")
                td 3
                td 6
                td 2
                td 2
                td A24
                td A2
                td.bg-danger.text-white.font-weight-bold B51
                td
                td -
                td -
                td DR4
                td.text-white.bg-danger DR14
                td 187
                td 55%
                td 42%
                td 3.54
                td 0.56
                td 21.2
                td 110021337766
                td(rowspan="2", style="vertical-align:middle")
                  button(type="button", class="btn adaptation", name="button") 適用
              tr
                td
                td
                td
                td
                td 24:02
                td 33:03
                td.text-danger.font-weight-bold 51:01
                td 44:03
                td -
                td -
                td 13:02
                td.text-danger.font-weight-bold 14:02
                td
                td
                td
                td
                td
                td
                td CENT
                //td

              tr(class="tb_bd-t")
                td 4
                td 6
                td 2
                td 2
                td A24
                td -
                td.bg-danger.text-white.font-weight-bold B51
                td
                td -
                td -
                td DR4
                td.text-white.bg-danger DR14
                td 180
                td 45%
                td 66%
                td 3.54
                td 0.56
                td 21.2
                td G201208123
                td(rowspan="2", style="vertical-align:middle")
                  button(type="button", class="btn adaptation", name="button") 適用

              tr
                td
                td
                td
                td
                td 24:02
                td -
                td.text-danger.font-weight-bold 51:01
                td 44:03
                td -
                td -
                td 13:02
                td.text-danger.font-weight-bold 14:02
                td
                td
                td
                td
                td
                td
                td TOKY

              tr(class="tb_bd-t")
                td 5
                td 6
                td 2
                td 2
                td A24
                td A2
                td.bg-danger.text-white.font-weight-bold B51
                td
                td Cw4
                td Cw12
                td DR4
                td.text-white.bg-danger DR14
                td 166
                td 57%
                td 53%
                td 3.54
                td 0.56
                td 21.2
                td G201208456
                td(rowspan="2", style="vertical-align:middle")
                  button(type="button", class="btn adaptation", name="button") 適用

              tr
                td
                td
                td
                td
                td 24:02
                td 33:03
                td.text-danger.font-weight-bold 51:01
                td 44:03
                td 04:01
                td 12:02
                td 13:02
                td.text-danger.font-weight-bold 14:02
                td
                td
                td
                td
                td
                td
                td KNKI

        .mt-5.ml-5
          .row.mt-3
            a(href="search.html")
              button.btn.btn-lg(type="button" value="戻る" style="width:240px") 戻る

    script(src="js/datatables.min.js")
    script(src="js/script.js")

    //script(type="text/javascript").
      $('button.adaptation').on('click', function(e) {
        $elem = $(e.target);
        if ($elem.hasClass('active')) {
          $elem.removeClass('active');
        } else {
          $elem.addClass('active');
        }
      });
