li
  a(href='searchCondition-input.html')
    button.btn.d-flex.align-items-center(type='button', style="padding: 20px; font-size: 20px; border: 2px solid #666; color: #444;")
      i.fas.fa-search
      .ml-1 IVF情報検索
