doctype html
html(lang='ja')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Admin UI
    link(rel='stylesheet', href='css/reset.min.css')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/font.css')
    link(href='https://use.fontawesome.com/releases/v5.6.1/css/all.css', rel='stylesheet')
    link(rel='stylesheet', href='https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.18/af-2.3.3/b-1.5.6/sc-2.0.0/datatables.min.css')      
    link(rel='stylesheet', href='css/style.css')      
