.sidebar
  ul
    li
      a(href='index.html')
        i.fa.fa-home
        span Home
    li
      a(href='#')
        i.fa.fa-desktop
        span Desktop
    li
      a(href='#')
        i.fa.fa-server
        span Server
    li
      a(href='#')
        i.fa.fa-calendar
        span Calendar
    li
      a(href='#')
        i.fa.fa-envelope
        span Messages
    li
      a(href='#')
        i.fa.fa-table
        span Data Table
