.header
  a#menu-toggle(href="#")
    i.fa.fa-bars
    span Menu
  .logo
    a(href="#")
      img(src="img/logo.svg" alt="")
      |       患者/ドナー検索システム
  .l_info
    .m_title
      ul
        li
          a(href="index.html") TOP
        li This Page
.sidebar
  ul
    li
      a(href="index.html")
        i.fa.fa-home
        span Home
    li
      a(href="#")
        i.fa.fa-desktop
        span Desktop
    li
      a(href="#")
        i.fa.fa-server
        span Server
    li
      a(href="#")
        i.fa.fa-calendar
        span Calendar
    li
      a(href="#")
        i.fa.fa-envelope
        span Messages
    li
      a(href="#")
        i.fa.fa-table
        span Data Table
