doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Admin UI
    link(rel="stylesheet" href="css/reset.min.css")
    link(rel="stylesheet" href="css/bootstrap.min.css")
    link(rel="stylesheet" href="css/font.css")
    link(href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet")
    link(rel="stylesheet" href="css/style.css")
    script(src="https://code.jquery.com/jquery-3.3.1.js").

    script(type="text/javascript").
      $(function() {
      $("#head").load("head.html .header, .sidebar",
      function() {
        //コールバック後のjavascriptをここに記述する
          var main = document.querySelector(".main");
          var sidebar = document.querySelector(".sidebar");
          var menutoggle = document.querySelector("#menu-toggle");
          var l_info = document.querySelector(".l_info");
          menutoggle.addEventListener("click", function(e) {
          menutoggle.classList.toggle("active");
          main.classList.toggle("active");
          sidebar.classList.toggle("active");
          l_info.classList.toggle("active");
          if (sidebar.classList.contains("active")) {
          menutoggle.querySelector("i").classList.remove("fa-bars");
          } else {
          menutoggle.querySelector("i").classList.add("fa-bars");
          }
          });
        });
      })
      
